.create-dialog {

    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.create-dialog-header {
    background-color: gainsboro;

}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}